html {
	scroll-behavior: smooth;
}
.mad-icon-boxes.grid-type .mad-icon-box p {
    max-width: 100%;
}

.mad-navigation>li>a {
    font-size: 0.7rem!important;
}

.mad-icon-boxes.grid-type .mad-icon-box
{
    background-position: center!important;
    height: 488px!important;
    background-size: cover!important;
}

.mad-pre-title-custom {
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #667A7F;
    column-gap: 1.75rem;
}

.mad-pre-title-custom:not(:last-child) {
    margin-bottom: 1rem;
}

.mad-pre-title-custom:before {
    content: '';
    width: 3.375rem;
    height: 1px;
    background-color: var(--color-neutral-60);
    display: none;
}

.tp-bullets{
    display: none;
}

.custom-footer-links a:hover{
    color: var(--color-primary);
}

.mad-footer {
    padding: 0rem 0;
    padding-bottom: 20px;
}

.mad-section{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

h4 {
    font-size: 1.5rem;
    line-height: 3rem;
}

.mad-testimonial blockquote {
    font-style:italic!important;
    font-family: fangsong!important;
    font-size: 1.125rem;
    text-align: justify;
}

.mad-entity-title {
    font-size: 1.125rem;
    text-align: justify!important;
    line-height: 1.5rem!important;
}

.mad-alert-box--info .mad-alert-box-inner::before{
    display: none!important;
}

.mad-entity-pre-title{
     display: none!important;
}

.mad-list--icon>li>.icon, .mad-list-content>ul:not(.mad-list--icon):not(.mad-list--unstyled)>li::before {
    display: none!important;
}


.mad-alert-box-inner {
    font-family: fangsong!important;
    font-style: italic!important;
    position: relative!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    text-align: center!important;
    line-height: 23px!important;
}

.mad-testimonial-bg {
    padding: 1rem!important;
}

.mad-list--icon>li, .mad-list-content>ul:not(.mad-list--icon):not(.mad-list--unstyled)>li {
    padding-left: 0rem;
    line-height: 1.5rem;
    position: relative;
}

.mad-list--icon>li, .mad-list-content>ul:not(.mad-list--icon):not(.mad-list--unstyled)>li {
    padding-left: 0rem;
    line-height: 1.5rem;
    position: relative;
}

.mad-list-content>ul:not(.mad-list--icon-1):not(.mad-list--unstyled)>li::before, .mad-list-content>ul>li i {
    font-size: 1.25rem;
    color: var(--color-primary);
}

.mad-list--icon>li, .mad-list-content>ul:not(.mad-list--icon):not(.mad-list--unstyled)>li {
    padding-left: 0rem;
    line-height: 1.5rem;
    position: relative;
}

.mad-list--icon-1>li>.icon, .mad-list-content>ul:not(.mad-list--icon-1):not(.mad-list--unstyled)>li::before {
    position: absolute;
    left: 1px;
    top: 0;
    line-height: 1.5rem;
}

.mad-list--icon-1 ul, .mad-list-content>ul:not(.mad-list--icon-1):not(.mad-icon-first) {
    padding-top: 1rem;
}

.mad-list-content>ul:not(.mad-list--icon-1):not(.mad-list--unstyled)>li:not(:last-child), .mad-list--icon-1>li:not(:last-child), .mad-list--icon-big>li:not(:last-child), .mad-list-content ol:not(.mad-list--unstyled)>li:not(:last-child), .mad-list-content>ul:not(.mad-list--icon-1):not(.mad-list--unstyled)>li:not(:last-child), .mad-list--icon-1>li:not(:last-child), .mad-list--icon-big>li:not(:last-child), .mad-list-content>ol:not(.mad-list--unstyled)>li:not(:last-child) {
    margin-bottom: 1rem;
}


.villa-item>p{
    margin-top: -20px!important;
    margin-bottom: -20px!important;
}

.mad-entities.type-4.mad-entities-reverse .mad-entity, .mad-entities.type-4 .mad-entity:nth-child(2n){
    display:block!important;
}
.btn{
    white-space: normal;
}

.row.vr-size-2 {
    row-gap: 2rem;
}

.mad-vr-list.mad-text-medium ul li:not(:last-child) {
    margin-bottom: -5px;
}

.mad-title-wrap:not(:last-child) {
    margin-bottom: 0.5rem;
}

.mad-footer-bottom {
    padding-top: 1rem;
}
.mad-breadcrumb.with-bg-img {
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    color: var(--color-neutral-15);
}
h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}
.btn-huge {
    font-size: .75rem;
    line-height: 1rem;
    padding: 0.75rem 0.75rem;
    letter-spacing: 1.2px;
}

h3 {
    font-size: 1.7rem;
    line-height: 3.5rem;
    margin-bottom: -18px;
}

.owl-dots {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 1200px)
{
    .mad-footer:not([class*="footer-"]):after, .mad-footer:not([class*="footer-"]):before {
    bottom: -10rem;
        }
}

table td{
    border: 1px solid var(--color-neutral-15);
}


.btn-big {
    font-size: .8rem;
    padding: 0.5rem 2rem;
}

.mad-text-medium {
    line-height: 1.5rem;
}

/* RESPONSIVE */
@media only screen and (max-width: 1600px)
{
    p br, .mad-entity-title br {
        display: block!important;
    }
}

@media (max-width: 767.98px) {
    .text-center-on-medium-device{
        text-align: center!important;
    }
    .text-justify-on-medium-device{
        text-align: justify!important;
    }
    .margin-top-minus-10-medium-device{
        margin-top: -10px!important;
    }
 }

 @media only screen and (min-width: 1440px)
 {
    .mad-icon-box h6.mad-icon-box-title, .mad-entities.type-4 .mad-entity .mad-entity-title {
        white-space: inherit!important;
    }
 }

